*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-color: #f5f7f7;
}



/* introduzione */
.heading{
    font-size: 30px;
    
    height: 60px;
    background-color: white;
    border: solid 0px;

}
/* logo e scritta */
#title{
    display: inline;
    font-size: 55px;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}
/* corpo principale */
.central-block1{
    
        width: 800px;
        height: 45px;
        background: white;
        margin: 10px auto;
        text-align: left;
        padding-top: 10px;
        border-radius: 5px;
        line-height: 20px;
}

.central-block2{
    
        width: 800px;
        height: 500px;
        background: white;
        margin: 10px auto;
        text-align: left;
        padding-top: 10px;
        border-radius: 5px;
        line-height: 20px;
        

}

.bottom-ask{
border: 10px;
padding-left: 10px;
text-decoration: none;
color: white;
}

.bottom-add{
    border: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: gray;
    }

/* utils*/

.backgr-blu{
background-color: rgb(15, 110, 170);
border: solid 0px;
width: 20px;
height: 20px;
padding: 5px;
border-radius: 5px;
}

.backgr-white{
    background-color: white;
    color: gray;
    border: solid  grey 1px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    }
.white-text{
    color: white;
}

.check{
    list-style-type: "\2705"; 
}

.down{
 list-style-type: "\25BC"; 
}

.cross{
    list-style-type: "\274C"; 

}